<?xml version="1.0" encoding = "windows-1251"?>
<Configuration>
  <SceneRender
    DriverMask   = "*"
    RendererMask = "*"
    Log          = "render.scene_render"
    >
    <Screen1
      Attachment   = "Screen1"
      RenderTarget = "0"
    />
    <Screen2
      Attachment   = "Screen2"
      RenderTarget = "1"
    />
  </SceneRender>
  <WindowManager>
    <Window1
      Style  = "Overlapped"
      Width  = "300"
      Height = "300"
      Title  = "Window1"
      Show   = "1"
      >
      <WindowRenderer 
        RendererName = "MyRenderer"
        ColorBits    = "24"
        AlphaBits    = "0"
        DepthBits    = "24"
        StencilBits  = "8"
        FullScreen   = "0"
        BuffersCount = "2"
        SwapMethod   = "Discard"
        DriverMask   = "*"
        AdapterMask  = "*"
        SamplesCount = "1024"
        VSync        = "0"
        FullScreen   = "0"
      />
    </Window1>
    <Window2
      Style  = "Overlapped"
      Width  = "300"
      Height = "300"
      Title  = "Window2"
      Show   = "1"
      >
      <WindowRenderer 
        RendererName = "MyRenderer"
        ColorBits    = "24"
        AlphaBits    = "0"
        DepthBits    = "24"
        StencilBits  = "8"
        FullScreen   = "0"
        BuffersCount = "2"
        SwapMethod   = "Discard"
        DriverMask   = "*"
        AdapterMask  = "*"
        SamplesCount = "1024"
        VSync        = "0"
        FullScreen   = "0"
      />
    </Window2>
  </WindowManager>
</Configuration>
