<?xml version="1.0" encoding = "windows-1251"?>
<Configuration>
  <SceneRender
    DriverMask   = "*"
    RendererMask = "*"
    Log          = "render.scene_render"
    >
    <Screen1
      Attachment   = "MainScreen"
      RenderTarget = "0"
    />
  </SceneRender>
  <Window>
    <WindowRenderer
      RendererName = "MyRenderer"
      ColorBits    = "24"
      AlphaBits    = "0"
      DepthBits    = "24"
      StencilBits  = "8"
      FullScreen   = "0"
      BuffersCount = "2"
      SwapMethod   = "Discard"
      DriverMask   = "*"
      AdapterMask  = "*"
      SamplesCount = "1024"
      VSync        = "0"
      FullScreen   = "0"
    />  
  </Window>
</Configuration>
