<?xml version="1.0" encoding="windows-1251"?>
<Configuration>
<WindowSettings
WindowWidth="640"
WindowHeight="480"
WindowTitle="Render2d"
ColorBits="24"
AlphaBits="8"
DepthBits="24"
StencilBits="8"
FullScreen="0"
BuffersCount="2"
SwapMethod="discard"
InitString="GL_ARB_texture_non_power_of_two=0 GL_SGIS_texture_lod=0 disable=GL_EXT_framebuffer*"
DriverMask="*"
AdapterMask="*"
SamplesCount="0"
VSync="1"
FullScreen="0"
/>
</Configuration>
