<?xml version="1.0" encoding = "windows-1251"?>
<TranslationTable>
  <Translation Event="Up down" Replacement="onBeginMove('+y')" Tag=""/>
  <Translation Event="Up up" Replacement="onEndMove('+y')" Tag=""/>
  <Translation Event="Down down" Replacement="onBeginMove('-y')" Tag=""/>
  <Translation Event="Down up" Replacement="onEndMove('-y')" Tag=""/>
  <Translation Event="Right down" Replacement="onBeginMove('+x')" Tag=""/>
  <Translation Event="Right up" Replacement="onEndMove('+x')" Tag=""/>
  <Translation Event="Left down" Replacement="onBeginMove('-x')" Tag=""/>
  <Translation Event="Left up" Replacement="onEndMove('-x')" Tag=""/>

  <Translation Event="W down" Replacement="onBeginMove('+y')" Tag=""/>
  <Translation Event="W up" Replacement="onEndMove('+y')" Tag=""/>
  <Translation Event="S down" Replacement="onBeginMove('-y')" Tag=""/>
  <Translation Event="S up" Replacement="onEndMove('-y')" Tag=""/>
  <Translation Event="D down" Replacement="onBeginMove('+x')" Tag=""/>
  <Translation Event="D up" Replacement="onEndMove('+x')" Tag=""/>
  <Translation Event="A down" Replacement="onBeginMove('-x')" Tag=""/>
  <Translation Event="A up" Replacement="onEndMove('-x')" Tag=""/>
</TranslationTable>
