<?xml version="1.0" encoding = "windows-1251"?>
<Configuration>
  <WindowManager>
    <Window
      Style   = "Overlapped"
      Width   = "300"
      Height  = "300"
      Title   = "Window1"
      Visible = "1"
      Attachment = "Window1"
    />
    <Window
      Style   = "Overlapped"
      Width   = "300"
      Height  = "300"
      Title   = "Window2"
      Visible = "1"
      Attachment = "Window2"
      Parent = "Window1"
    />
  </WindowManager>
  <WindowRenderer Name="MyRenderer" AdapterMask="OpenGL32" DriverMask="*">
    <FrameBuffer
      Window       = "Window1"
      ColorBits    = "24"
      AlphaBits    = "0"
      DepthBits    = "24"
      StencilBits  = "8"
      FullScreen   = "0"
      BuffersCount = "2"
      SwapMethod   = "Discard"
      SamplesCount = "1024"
      VSync        = "0"
      FullScreen   = "0"
    />
    <FrameBuffer
      Window       = "Window2"
      ColorBits    = "24"
      AlphaBits    = "0"
      DepthBits    = "24"
      StencilBits  = "8"
      FullScreen   = "0"
      BuffersCount = "2"
      SwapMethod   = "Discard"
      SamplesCount = "1024"
      VSync        = "0"
      FullScreen   = "0"
    />
  </WindowRenderer>
  <WindowInputDriver Window="Window1"/>
  <WindowInputDriver Window="Window2"/>
  <SceneRender
    DriverMask   = "*"
    RendererMask = "*"
    Log          = "render.scene_render"
    >
    <Screen Attachment = "Screen1" RenderTarget = "0"/>
    <Screen Attachment = "Screen2" RenderTarget = "1"/>
  </SceneRender>
  <ScenePlayer Attachment = "ScenePlayer1" DriverMask = "*" DeviceMask = "*" InitString = ""/>
  <InputManager TranslationMapRegistry = "data/translation_map_registry.xkeyreg"/>
</Configuration>
